$lte7: true;
//在简单的使用中间，发现%aaa只有在调用的时间才会被解析
%clearfix {
    @if $lte7 {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
        font: 0/0 a;
    }
    &:after {
        clear: both;        
    }
}

.wrap {
    @extend %clearfix;
}
