.m-none {
	margin: 0 !important
}

.m-auto {
	margin: auto !important
}

.m-ii {
	margin: initial !important
}

.m-ih {
	margin: inherit !important
}

.m-xxs {
	margin: 2px !important
}

.m-xs {
	margin: 5px !important
}

.m-sm {
	margin: 10px !important
}

.m {
	margin: 15px !important
}

.m-md {
	margin: 20px !important
}

.m-lg {
	margin: 30px !important
}

.m-xl {
	margin: 40px !important
}

.m-xxl {
	margin: 50px !important
}

.m-n-xxs {
	margin: -2px !important
}

.m-n-xs {
	margin: -5px !important
}

.m-n-sm {
	margin: -10px !important
}

.m-n {
	margin: -15px !important
}

.m-n-md {
	margin: 20px !important
}

.m-n-lg {
	margin: 30px !important
}

.m-n-xl {
	margin: -40px !important
}

.m-n-xxl {
	margin: -50px !important
}

.m-v-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

.m-v-auto {
	margin-top: auto !important;
	margin-bottom: auto !important
}

.m-v-ii {
	margin-top: initial !important;
	margin-bottom: initial !important
}

.m-v-ih {
	margin-top: inherit !important;
	margin-bottom: inherit !important
}

.m-v-xxs {
	margin-top: 2px !important;
	margin-bottom: 2px !important
}

.m-v-xs {
	margin-top: 5px !important;
	margin-bottom: 5px !important
}

.m-v-sm {
	margin-top: 10px !important;
	margin-bottom: 10px !important
}

.m-v {
	margin-top: 15px !important;
	margin-bottom: 15px !important
}

.m-v-md {
	margin-top: 20px !important;
	margin-bottom: 20px !important
}

.m-v-lg {
	margin-top: 30px !important;
	margin-bottom: 30px !important
}

.m-v-xl {
	margin-top: 40px !important;
	margin-bottom: 40px !important
}

.m-v-xxl {
	margin-top: 50px !important;
	margin-bottom: 50px !important
}

.m-v-n-xxs {
	margin-top: -2px !important;
	margin-bottom: -2px !important
}

.m-v-n-xs {
	margin-top: -5px !important;
	margin-bottom: -5px !important
}

.m-v-n-sm {
	margin-top: -10px !important;
	margin-bottom: -10px !important
}

.m-v-n {
	margin-top: -15px !important;
	margin-bottom: -15px !important
}

.m-v-n-md {
	margin-top: 20px !important;
	margin-bottom: 20px !important
}

.m-v-n-lg {
	margin-top: 30px !important;
	margin-bottom: 30px !important
}

.m-v-n-xl {
	margin-top: -40px !important;
	margin-bottom: -40px !important
}

.m-v-n-xxl {
	margin-top: -50px !important;
	margin-bottom: -50px !important
}

.m-h-none {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.m-h-auto {
	margin-left: auto !important;
	margin-right: auto !important
}

.m-h-ii {
	margin-left: initial !important;
	margin-right: initial !important
}

.m-h-ih {
	margin-left: inherit !important;
	margin-right: inherit !important
}

.m-h-xxs {
	margin-left: 2px !important;
	margin-right: 2px !important
}

.m-h-xs {
	margin-left: 5px !important;
	margin-right: 5px !important
}

.m-h-sm {
	margin-left: 10px !important;
	margin-right: 10px !important
}

.m-h {
	margin-left: 15px !important;
	margin-right: 15px !important
}

.m-h-md {
	margin-left: 20px !important;
	margin-right: 20px !important
}

.m-h-lg {
	margin-left: 30px !important;
	margin-right: 30px !important
}

.m-h-xl {
	margin-left: 40px !important;
	margin-right: 40px !important
}

.m-h-xxl {
	margin-left: 50px !important;
	margin-right: 50px !important
}

.m-h-n-xxs {
	margin-left: -2px !important;
	margin-right: -2px !important
}

.m-h-n-xs {
	margin-left: -5px !important;
	margin-right: -5px !important
}

.m-h-n-sm {
	margin-left: -10px !important;
	margin-right: -10px !important
}

.m-h-n {
	margin-left: -15px !important;
	margin-right: -15px !important
}

.m-h-n-md {
	margin-left: 20px !important;
	margin-right: 20px !important
}

.m-h-n-lg {
	margin-left: 30px !important;
	margin-right: 30px !important
}

.m-h-n-xl {
	margin-left: -40px !important;
	margin-right: -40px !important
}

.m-h-n-xxl {
	margin-left: -50px !important;
	margin-right: -50px !important
}

.m-t-none {
	margin-top: 0 !important
}

.m-t-auto {
	margin-top: auto !important
}

.m-t-ii {
	margin-top: initial !important
}

.m-t-ih {
	margin-top: inherit !important
}

.m-t-xxs {
	margin-top: 2px !important
}

.m-t-xs {
	margin-top: 5px !important
}

.m-t-sm {
	margin-top: 10px !important
}

.m-t {
	margin-top: 15px !important
}

.m-t-md {
	margin-top: 20px !important
}

.m-t-lg {
	margin-top: 30px !important
}

.m-t-xl {
	margin-top: 40px !important
}

.m-t-xxl {
	margin-top: 50px !important
}

.m-t-n-xxs {
	margin-top: -2px !important
}

.m-t-n-xs {
	margin-top: -5px !important
}

.m-t-n-sm {
	margin-top: -10px !important
}

.m-t-n {
	margin-top: -15px !important
}

.m-t-n-md {
	margin-top: 20px !important
}

.m-t-n-lg {
	margin-top: 30px !important
}

.m-t-n-xl {
	margin-top: -40px !important
}

.m-t-n-xxl {
	margin-top: -50px !important
}

.m-b-none {
	margin-bottom: 0 !important
}

.m-b-auto {
	margin-bottom: auto !important
}

.m-b-ii {
	margin-bottom: initial !important
}

.m-b-ih {
	margin-bottom: inherit !important
}

.m-b-xxs {
	margin-bottom: 2px !important
}

.m-b-xs {
	margin-bottom: 5px !important
}

.m-b-sm {
	margin-bottom: 10px !important
}

.m-b {
	margin-bottom: 15px !important
}

.m-b-md {
	margin-bottom: 20px !important
}

.m-b-lg {
	margin-bottom: 30px !important
}

.m-b-xl {
	margin-bottom: 40px !important
}

.m-b-xxl {
	margin-bottom: 50px !important
}

.m-b-n-xxs {
	margin-bottom: -2px !important
}

.m-b-n-xs {
	margin-bottom: -5px !important
}

.m-b-n-sm {
	margin-bottom: -10px !important
}

.m-b-n {
	margin-bottom: -15px !important
}

.m-b-n-md {
	margin-bottom: 20px !important
}

.m-b-n-lg {
	margin-bottom: 30px !important
}

.m-b-n-xl {
	margin-bottom: -40px !important
}

.m-b-n-xxl {
	margin-bottom: -50px !important
}

.m-l-none {
	margin-left: 0 !important
}

.m-l-auto {
	margin-left: auto !important
}

.m-l-ii {
	margin-left: initial !important
}

.m-l-ih {
	margin-left: inherit !important
}

.m-l-xxs {
	margin-left: 2px !important
}

.m-l-xs {
	margin-left: 5px !important
}

.m-l-sm {
	margin-left: 10px !important
}

.m-l {
	margin-left: 15px !important
}

.m-l-md {
	margin-left: 20px !important
}

.m-l-lg {
	margin-left: 30px !important
}

.m-l-xl {
	margin-left: 40px !important
}

.m-l-xxl {
	margin-left: 50px !important
}

.m-l-n-xxs {
	margin-left: -2px !important
}

.m-l-n-xs {
	margin-left: -5px !important
}

.m-l-n-sm {
	margin-left: -10px !important
}

.m-l-n {
	margin-left: -15px !important
}

.m-l-n-md {
	margin-left: 20px !important
}

.m-l-n-lg {
	margin-left: 30px !important
}

.m-l-n-xl {
	margin-left: -40px !important
}

.m-l-n-xxl {
	margin-left: -50px !important
}

.m-r-none {
	margin-right: 0 !important
}

.m-r-auto {
	margin-right: auto !important
}

.m-r-ii {
	margin-right: initial !important
}

.m-r-ih {
	margin-right: inherit !important
}

.m-r-xxs {
	margin-right: 2px !important
}

.m-r-xs {
	margin-right: 5px !important
}

.m-r-sm {
	margin-right: 10px !important
}

.m-r {
	margin-right: 15px !important
}

.m-r-md {
	margin-right: 20px !important
}

.m-r-lg {
	margin-right: 30px !important
}

.m-r-xl {
	margin-right: 40px !important
}

.m-r-xxl {
	margin-right: 50px !important
}

.m-r-n-xxs {
	margin-right: -2px !important
}

.m-r-n-xs {
	margin-right: -5px !important
}

.m-r-n-sm {
	margin-right: -10px !important
}

.m-r-n {
	margin-right: -15px !important
}

.m-r-n-md {
	margin-right: 20px !important
}

.m-r-n-lg {
	margin-right: 30px !important
}

.m-r-n-xl {
	margin-right: -40px !important
}

.m-r-n-xxl {
	margin-right: -50px !important
}

.p-none {
	padding: 0 !important
}

.p-auto {
	padding: auto !important
}

.p-ii {
	padding: initial !important
}

.p-ih {
	padding: inherit !important
}

.p-xxs {
	padding: 2px !important
}

.p-xs {
	padding: 5px !important
}

.p-sm {
	padding: 10px !important
}

.p {
	padding: 15px !important
}

.p-md {
	padding: 20px !important
}

.p-lg {
	padding: 30px !important
}

.p-xl {
	padding: 40px !important
}

.p-xxl {
	padding: 50px !important
}

.p-n-xxs {
	padding: -2px !important
}

.p-n-xs {
	padding: -5px !important
}

.p-n-sm {
	padding: -10px !important
}

.p-n {
	padding: -15px !important
}

.p-n-md {
	padding: 20px !important
}

.p-n-lg {
	padding: 30px !important
}

.p-n-xl {
	padding: -40px !important
}

.p-n-xxl {
	padding: -50px !important
}

.p-v-none {
	padding-top: 0 !important;
	padding-bottom: 0 !important
}

.p-v-auto {
	padding-top: auto !important;
	padding-bottom: auto !important
}

.p-v-ii {
	padding-top: initial !important;
	padding-bottom: initial !important
}

.p-v-ih {
	padding-top: inherit !important;
	padding-bottom: inherit !important
}

.p-v-xxs {
	padding-top: 2px !important;
	padding-bottom: 2px !important
}

.p-v-xs {
	padding-top: 5px !important;
	padding-bottom: 5px !important
}

.p-v-sm {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}

.p-v {
	padding-top: 15px !important;
	padding-bottom: 15px !important
}

.p-v-md {
	padding-top: 20px !important;
	padding-bottom: 20px !important
}

.p-v-lg {
	padding-top: 30px !important;
	padding-bottom: 30px !important
}

.p-v-xl {
	padding-top: 40px !important;
	padding-bottom: 40px !important
}

.p-v-xxl {
	padding-top: 50px !important;
	padding-bottom: 50px !important
}

.p-v-n-xxs {
	padding-top: -2px !important;
	padding-bottom: -2px !important
}

.p-v-n-xs {
	padding-top: -5px !important;
	padding-bottom: -5px !important
}

.p-v-n-sm {
	padding-top: -10px !important;
	padding-bottom: -10px !important
}

.p-v-n {
	padding-top: -15px !important;
	padding-bottom: -15px !important
}

.p-v-n-md {
	padding-top: 20px !important;
	padding-bottom: 20px !important
}

.p-v-n-lg {
	padding-top: 30px !important;
	padding-bottom: 30px !important
}

.p-v-n-xl {
	padding-top: -40px !important;
	padding-bottom: -40px !important
}

.p-v-n-xxl {
	padding-top: -50px !important;
	padding-bottom: -50px !important
}

.p-h-none {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.p-h-auto {
	padding-left: auto !important;
	padding-right: auto !important
}

.p-h-ii {
	padding-left: initial !important;
	padding-right: initial !important
}

.p-h-ih {
	padding-left: inherit !important;
	padding-right: inherit !important
}

.p-h-xxs {
	padding-left: 2px !important;
	padding-right: 2px !important
}

.p-h-xs {
	padding-left: 5px !important;
	padding-right: 5px !important
}

.p-h-sm {
	padding-left: 10px !important;
	padding-right: 10px !important
}

.p-h {
	padding-left: 15px !important;
	padding-right: 15px !important
}

.p-h-md {
	padding-left: 20px !important;
	padding-right: 20px !important
}

.p-h-lg {
	padding-left: 30px !important;
	padding-right: 30px !important
}

.p-h-xl {
	padding-left: 40px !important;
	padding-right: 40px !important
}

.p-h-xxl {
	padding-left: 50px !important;
	padding-right: 50px !important
}

.p-h-n-xxs {
	padding-left: -2px !important;
	padding-right: -2px !important
}

.p-h-n-xs {
	padding-left: -5px !important;
	padding-right: -5px !important
}

.p-h-n-sm {
	padding-left: -10px !important;
	padding-right: -10px !important
}

.p-h-n {
	padding-left: -15px !important;
	padding-right: -15px !important
}

.p-h-n-md {
	padding-left: 20px !important;
	padding-right: 20px !important
}

.p-h-n-lg {
	padding-left: 30px !important;
	padding-right: 30px !important
}

.p-h-n-xl {
	padding-left: -40px !important;
	padding-right: -40px !important
}

.p-h-n-xxl {
	padding-left: -50px !important;
	padding-right: -50px !important
}

.p-t-none {
	padding-top: 0 !important
}

.p-t-auto {
	padding-top: auto !important
}

.p-t-ii {
	padding-top: initial !important
}

.p-t-ih {
	padding-top: inherit !important
}

.p-t-xxs {
	padding-top: 2px !important
}

.p-t-xs {
	padding-top: 5px !important
}

.p-t-sm {
	padding-top: 10px !important
}

.p-t {
	padding-top: 15px !important
}

.p-t-md {
	padding-top: 20px !important
}

.p-t-lg {
	padding-top: 30px !important
}

.p-t-xl {
	padding-top: 40px !important
}

.p-t-xxl {
	padding-top: 50px !important
}

.p-t-n-xxs {
	padding-top: -2px !important
}

.p-t-n-xs {
	padding-top: -5px !important
}

.p-t-n-sm {
	padding-top: -10px !important
}

.p-t-n {
	padding-top: -15px !important
}

.p-t-n-md {
	padding-top: 20px !important
}

.p-t-n-lg {
	padding-top: 30px !important
}

.p-t-n-xl {
	padding-top: -40px !important
}

.p-t-n-xxl {
	padding-top: -50px !important
}

.p-b-none {
	padding-bottom: 0 !important
}

.p-b-auto {
	padding-bottom: auto !important
}

.p-b-ii {
	padding-bottom: initial !important
}

.p-b-ih {
	padding-bottom: inherit !important
}

.p-b-xxs {
	padding-bottom: 2px !important
}

.p-b-xs {
	padding-bottom: 5px !important
}

.p-b-sm {
	padding-bottom: 10px !important
}

.p-b {
	padding-bottom: 15px !important
}

.p-b-md {
	padding-bottom: 20px !important
}

.p-b-lg {
	padding-bottom: 30px !important
}

.p-b-xl {
	padding-bottom: 40px !important
}

.p-b-xxl {
	padding-bottom: 50px !important
}

.p-b-n-xxs {
	padding-bottom: -2px !important
}

.p-b-n-xs {
	padding-bottom: -5px !important
}

.p-b-n-sm {
	padding-bottom: -10px !important
}

.p-b-n {
	padding-bottom: -15px !important
}

.p-b-n-md {
	padding-bottom: 20px !important
}

.p-b-n-lg {
	padding-bottom: 30px !important
}

.p-b-n-xl {
	padding-bottom: -40px !important
}

.p-b-n-xxl {
	padding-bottom: -50px !important
}

.p-l-none {
	padding-left: 0 !important
}

.p-l-auto {
	padding-left: auto !important
}

.p-l-ii {
	padding-left: initial !important
}

.p-l-ih {
	padding-left: inherit !important
}

.p-l-xxs {
	padding-left: 2px !important
}

.p-l-xs {
	padding-left: 5px !important
}

.p-l-sm {
	padding-left: 10px !important
}

.p-l {
	padding-left: 15px !important
}

.p-l-md {
	padding-left: 20px !important
}

.p-l-lg {
	padding-left: 30px !important
}

.p-l-xl {
	padding-left: 40px !important
}

.p-l-xxl {
	padding-left: 50px !important
}

.p-l-n-xxs {
	padding-left: -2px !important
}

.p-l-n-xs {
	padding-left: -5px !important
}

.p-l-n-sm {
	padding-left: -10px !important
}

.p-l-n {
	padding-left: -15px !important
}

.p-l-n-md {
	padding-left: 20px !important
}

.p-l-n-lg {
	padding-left: 30px !important
}

.p-l-n-xl {
	padding-left: -40px !important
}

.p-l-n-xxl {
	padding-left: -50px !important
}

.p-r-none {
	padding-right: 0 !important
}

.p-r-auto {
	padding-right: auto !important
}

.p-r-ii {
	padding-right: initial !important
}

.p-r-ih {
	padding-right: inherit !important
}

.p-r-xxs {
	padding-right: 2px !important
}

.p-r-xs {
	padding-right: 5px !important
}

.p-r-sm {
	padding-right: 10px !important
}

.p-r {
	padding-right: 15px !important
}

.p-r-md {
	padding-right: 20px !important
}

.p-r-lg {
	padding-right: 30px !important
}

.p-r-xl {
	padding-right: 40px !important
}

.p-r-xxl {
	padding-right: 50px !important
}

.p-r-n-xxs {
	padding-right: -2px !important
}

.p-r-n-xs {
	padding-right: -5px !important
}

.p-r-n-sm {
	padding-right: -10px !important
}

.p-r-n {
	padding-right: -15px !important
}

.p-r-n-md {
	padding-right: 20px !important
}

.p-r-n-lg {
	padding-right: 30px !important
}

.p-r-n-xl {
	padding-right: -40px !important
}

.p-r-n-xxl {
	padding-right: -50px !important
}